:root{

    --color01: #DADADA;
    --color02: #223078;

}

.header-cinza{
    background-color: var(--color01);
}

.navbar-azul{
    background-color: var(--color02);
}

.tamanho-div-header{
    height: 56px;
}

.bordar-top-bottom-orange{
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.teste{
    height: 500px;
    margin-top: 112px;
}

main{
    height: 7v;
}

.footer-div-copyright{
    background-color: rgba(0, 0, 0, 0.05);
}